*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    align-items: none;
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-card{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 55rem;
    padding: 30px 0 0 40px;
   
}
.first-card{
    background-color: hsl(31, 77%, 52%);
    padding: 40px 50px 0 40px;
    height: 460px;
    border-radius:10px 0 0 10px ;
}
.second-card{
    background-color:  hsl(184, 100%, 22%);
    padding: 40px 60px 0 40px;
    height: 460px;
}
.third-card{
    background-color:hsl(179, 100%, 13%);
    padding: 40px 55px 0 40px;
    height: 460px;
    border-radius: 0 10px 10px 0;
}
h1{
    margin:30px 0 0 0;
    color:hsla(0, 0%, 100%, 0.75);
    font-family: 'Big Shoulders Display', cursive;
    font-size: 2.33rem;
}
p{
    margin:30px 0 0 0 ;
    line-height: 26px;
    color: hsla(0, 0%, 100%, 0.75);
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 100;
    font-size: 0.9rem;
    opacity:0.9 ;
}
button{
    margin-top: 80px;
    height: 20%;
}



.button-1 button{
    width: 130px;
    height: 45px;
    color: hsl(31, 77%, 52%);
    background-color:  hsl(0, 0%, 95%);
    border: none;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    border-radius: 20px;
    
}
.button-1 button:hover{
    background-color: transparent;
    border:1px solid white;
    color: white;
    cursor: pointer;
}



.button-2 button{
   width: 130px;
    height: 45px;
    color:hsl(184, 100%, 22%) ;
    background-color:  hsl(0, 0%, 95%);
    border: none;
    border-radius:20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}
.button-2 button:hover{
    background-color: transparent;
    border:1px solid white;
    color: white;
    cursor: pointer;
}

.button-3 button{
    width: 130px;
    height: 45px;
    color:hsl(179, 100%, 13%) ;
    background-color:  hsl(0, 0%, 95%);
    border: none;
    border-radius:20px;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    
}
.button-3 button:hover{
    background-color: transparent;
    border:1px solid white;
    color: white;
    cursor: pointer;
}
@media(max-width:961px){
    .main-card{
        grid-template-columns: 1fr;

    }
}