*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    align-items: none;
}
body{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.main-card{
    
}